.home {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
}
.rules{
  width: 90%;
  max-width: 40rem;
  text-align:left;
}
ul{
  list-style-type: circle;
}
.card{
  border-radius: 25%;
  width: 30%;
}